.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .login-form-container {
    margin-top: 250px;
    margin-left: 170px;
    width: 300px;
    padding: 20px;
    border-radius: 18px;
    border-color: rgb(0, 0, 0) ;
    border-style:solid;
    border-width: 3px;
    background-image: linear-gradient(rgb(255, 34, 34),rgb(230, 57, 57));
    box-shadow: 0 1 10px rgba(255, 0, 0, 0.1);  
    
  }
  .left {
    flex: 1.5;  
    background-image: linear-gradient(rgb(255, 34, 34),rgb(230, 57, 57));
    
    height: 100vh;
    padding: 20px;

  }

  .right {
    height: 100vh;
    flex: 1; 
    background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
    
    padding: 20px;
  }
  .title{
    margin-left: 400px;
    border-color: #ff0000;
    border-width: 1px;
    border-style: solid;
    margin-top: -230px;
    width: 300px;
    height: 120px;
    
  }
  .title-heading{
    color: rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 100px;
    margin-top: -5px;
    margin-left: 50px;
    text-decoration: underline;
  }

  .text-center{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    margin-left: 67px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .image1{
    transform: rotate(-20deg);
    margin-top:260px;
    margin-left: 50px;
    width: 300px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 320px;
  }
  .input-field {
    width: 200px;
    border-radius: 4px;
  }
  .login-button:hover{
    background-color: rgb(255, 0, 0);
    color:white;
  }
  .login-button {
    width: 100%;
    background-color: #000000;
    color: white;
  }
  
  .register-link {
    color: #000810;
  }
  